

/*RAND VAN PAGINA */
html, body {
  width: 100%;
  margin: 0;
  font-family: Verdana;
     
  


}
/* KADER ROND FABRIKCANTCODE ENZ*/
ul, h4 {
  margin: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.navbar {
	display: block !important;
	position: relative !important;
}


/*WITTE ACHTERGROND REGELEN*/
.b-main {
  position: relative;
  width: 45%;
  margin-left: 5%;
  margin-top: 5%;
  padding-bottom: 50px;
  color: #B8B8B8;
  background: white;
  border: 2px solid;
  display: block;
}




.container{
	border-bottom: 2px solid #d9d9d9;
	display: blocked;
}

/* Phone display */ 
.phone-wrapper{
	margin-top: 20px;
	margin-bottom: 20px;
	height: 520px;
	margin-left: 7%;
	margin-right: 7%;
	
}
.phonePicture{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.btnWinkelmandje{
	height: 40px; 
	width: 50%; 
	margin-top: 3px; 
	font-size: 15px; 
	margin-left: auto !important; 
	margin-right: auto !important;
	display: block !important; 
	
}



/* Phone details */ 
.details{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 40% !important;
}

/* Carousel */
.preview-pic { 
	margin-left: auto;
	margin-right: auto;
	display:block;
	text-align: center;
}


.preview-thumbnail {
	border: none;
	margin: auto;
	text-align: center;
	padding-left: 0px;

}

.preview-thumbnail li {
    width: 15%;
	float: center;
	list-style:none;
    margin-right: 10px;
	margin-bottom: 25px;
	border: 1px solid #e7e7e7;
	display: inline-block;
	padding-top: 10px;	
	padding-bottom: 10px;
}
.preview-thumbnail li img {
	
	width: 100%;
	height: auto;
	display: block; 
	margin-left: auto;
	margin-right: auto;
}

.preview-thumbnail li:hover {
	
	cursor: pointer;
	border-color: #2196f3;
}

.tab-content {
  overflow: hidden;
}
.tab-content img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 300px;
    height: 300px;
	margin-bottom: 10%;
}
.thumbnail-carousel__thumbnail a{
    border: 1px solid #e7e7e7;
}

.preview-thumbnail li.active{
	border-color: #4caf50;
}

/* color change */

.preview-same-model {
	margin-top: 5%;
	border: none;
	text-align: center;
}

.preview-same-model p{
	text-align: left;
	margin-top: 11%;
	margin-bottom: 0%;
}
.preview-same-model li{
    width: auto;
	float: left;
	list-style:none;
    margin-right: 10px;
	margin-bottom: 25px;
	border: 1px solid #e7e7e7;
	display: inline-block;
	padding-top: 10px;	
	padding-bottom: 10px;
}

.preview-same-model li img {
	
	width: 100px;
	height: 100px;
	display: block; 
	margin-left: auto;
	margin-right: auto;
}

.preview-same-model li:hover{
	cursor: pointer;
	border-color: #2196f3;
}



/* ------------------ */
/* --Detail pagina-- */
/* ------------------ */

.details{
	height: 520px !important;
	margin-right: 0% !important;
	border-left: 2px solid #d9d9d9;
	
}

.price-wrapper{
	border-bottom: 2px solid #e7e7e7;
	margin-bottom: 1%;
}

.variant-price{
	font-size: 30px;
	margin-top: 10px !important;
	font-family: 'Anton', sans-serif;
	letter-spacing: 1px;
}
.phone-title{
	Margin: 0;
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 2%;
}
.price-date{
	font-size: 150%;
	font-weight: bold;
	display: inline-block;
	position:absolute;
	margin-top:auto;
    margin-bottom: auto;
	width: 50%;
	
}
.price-icon{
	vertical-align:middle;
	margin-left: 8%;
}
.price{
	vertical-align:middle;
}

.detail-wrapper{
	padding-top:2%;
	
	width: auto;
}
.infoIcon {
	margin-left: 3%;
	font-size: 200%;
	
}
.info{
	font-size: 150%;
	display: inline-block;
	margin-top:auto;
    margin-bottom: auto;
	
}
.info strong {
	color: #2196f3;
}

.kiesKleur{
	margin-top: 5% !important;
	font-weight: bold ;
	color: red;
	font-size: 18px;
}

/* Detail pagina - table specification */
.tblSpecifications{
	width: auto;
	float:left !important;
	display: absolute;	
	margin-left: 5%;
	margin-top: 2%;
	
}
.tblSpecifications td{
	width: 25% !important;
	
}

/* --Detail pagina - specificaties -- */









