/* Buttons */
.btn-bewerken{
	float: right;
	margin-bottom: 1%;
	margin-top: -2%;
	margin-right: 2%;
	margin-left: 2%;
}

/* tekstvakken */
.login-tekst{ 
	margin-left: 15px !important; 
	width: 90% !important;
}

/* panels */
..panel-heading{
	background-color: #404040 !important;
}